body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  text-decoration: none;
}
.type {
  list-style-type: none;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-block {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
}
/* WEB-LOGO-NAV */
.nav-link {
  color: #2e2f42;
}
.navbar {
  display: flex;
  gap: 40px;
  align-items: center;
}
.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-right: 76px;

  padding-top: 26px;
  padding-bottom: 26px;
}
.nav {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: block;
  padding: 24px 0;
}

.nav:hover,
.nav:focus {
  color: #404bbf;
}

/* ADRESS NAV */
.nav-contact {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.contacts {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* SECTION - 1 - HERO */
.hero {
  background-color: #2e2f42;

  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
}
.hero-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.page-hero {
  background-color: #2e2f42;
}
/* BUTTON */
.button {
  background: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* SECTION - 2 - */

.about-us {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.menu-about-us {
  display: flex;
  gap: 24px;
}

.description {
  /* display: flex;
  column-gap: 24px; */
  margin-bottom: 8px;
}
.list-style {
  width: calc((100% - 72px) / 4);
}

/* SECTION- 3- */

.block-team {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
.developers-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-card {
  display: flex;
}
.menu-team {
  display: flex;
  gap: 24px;
}
.card {
  padding: 32px 0;
  text-align: center;
}
.our-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-description {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-description {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION- 4 -PORTFOLIO */
.page-portfolio {
  background: #fff;
  padding: 120px 0;
}
.portfolio-items {
  display: flex;
}
.menu-portfolio {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  max-width: 360px;
}
.container-portfolio {
  /* margin: 32px 0; */
  padding: 32px 16px;
}
/* .developers {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  /* padding-top: 120px;
  padding-bottom: 120px; */

/* FOOTER - */
.page-footer {
  background-color: #2e2f42;
}
.footerbar {
  background: #2e2f42;
  padding: 100px 156px;
  width: 1440px;
}
.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
}
.text-footer {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-footer {
  background-color: #2e2f42;
}
.text-footer {
  max-width: 264px;
  margin-top: 18px;
}
